body {
  font-family: "Helvetica", sans-serif;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .timer {
    text-align: center;
    font-size: 50px;
    width: 300px;
    height: 100px;
    padding: 15px;
    background: rgb(15, 5, 5);
    color: rgba($color: #f3f3f3, $alpha: 1);
    border-radius: 8px 8px 0px 0px;
  }

  .buttons {
    width: 300px;
    height: 70px;
    text-align: center;
    padding: 15px;
    background: rgba($color: #f3f3f3, $alpha: 1);
    border-radius: 0px, 0px, 8px, 8px;
  }
}
